.navbar {
  width: 100%;
}
.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}
.navbar__logo {
  width: 200px;
}
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.navbar__link {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  transition: all 0.3s linear;
}
.navbar__link:hover {
  color: black;
}
.navbar__burger {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.navbar__burgerss {
  width: 25px;
  height: 2px;
  background-color: black;
  border: none;
  border-radius: 5px;
}
.navbar__burgerss:nth-child(odd) {
  width: 20px;
}

@media only screen and (max-width: 480px) {
  .navbar__wrapper {
    width: 90%;
  }
  .navbar__list {
    display: none;
  }
  .navbar__burger {
    display: flex;
  }
}
.intro {
  width: 100%;
}
.intro__wrapper {
  width: 1200px;
  margin: 50px auto;
  background-image: url("../img/Bitmap.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 20px;
  padding: 50px 80px;
}
.intro__title {
  width: 500px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}
.intro__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 400px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.intro__btn {
  /* Group 3 */
  width: 217px;
  height: 56px;
  background: #0e8784;
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
}
.intro__btn:hover {
  background: #1ab8b6;
  transition: all 0.3s linear;
}

@media only screen and (max-width: 480px) {
  .intro__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 25px 30px;
    text-align: center;
    gap: 50px;
  }
  .intro__title {
    width: 300px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #fefcf7;
  }
  .intro__text {
    width: 300px;
    margin: 20px 0;
  }
}
.collection {
  width: 100%;
}
.collection__wrapper {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 50px auto;
  background-image: url("../img/collections.png");
  background-repeat: no-repeat;
  background-position: top;
}
.collection__cards {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 150px;
}
.collection__card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (max-width: 480px) {
  .collection__wrapper {
    width: 90%;
    min-height: 400px;
    background-size: contain;
  }
  .collection__cards {
    flex-direction: column;
  }
}
.choose {
  width: 100%;
}
.choose__wrapper {
  position: relative;
  width: 1200px;
  margin: 50px auto;
  height: 500px;
  background-color: rgba(33, 28, 28, 0.712);
  padding: 50px;
  border-radius: 50px;
}
.choose__title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}
.choose__text {
  width: 540px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 20px auto;
}
.choose__cards {
  position: absolute;
  bottom: -200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.choose__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  text-align: center;
  width: 350px;
  height: 382px;
  background-color: #0e8784;
  padding: 20px;
  border-radius: 20px;
}

@media only screen and (max-width: 480px) {
  .choose {
    margin-top: 900px;
  }
  .choose__wrapper {
    width: 95%;
    height: 800px;
  }
  .choose__text {
    width: 100%;
  }
  .choose__cards {
    flex-direction: column;
    top: 400px;
    left: 0;
  }
  .choose__card {
    height: 382px;
    width: 90%;
  }
  .choose__title {
    font-size: 30px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.works {
  width: 100%;
  margin-top: 325px;
}
.works__wrapper {
  width: 1200px;
  margin: 200px auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 20px;
  padding: 50px 80px;
}
.works__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}
.works__img {
  margin-top: 80px;
  width: 815px;
  height: 55px;
}
.works__cards {
  margin-top: 70px;
  display: flex;
  gap: 95px;
}
.works__card {
  width: 285px;
  height: 355px;
  margin: 40px auto;
}
.works__card__number {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}
.works__card__title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}
.works__card__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #333D4B;
}
.works__btn {
  /* Group 3 */
  width: 217px;
  height: 56px;
  background: #0e8784;
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
}
.works__btn:hover {
  background: #1ab8b6;
  transition: all 0.3s linear;
}

.footer {
  display: flex;
  margin-top: 500px;
  margin-bottom: 85px;
  width: 100%;
  background: #2C343E;
  padding: 50px 0;
}
.footer__wrapper {
  width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  width: 200px;
}
.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px !important;
  justify-content: center;
  align-items: center;
}
.footer__link {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  transition: all 0.3s linear;
}
.footer__link:hover {
  color: white;
}
.footer__apps {
  width: 120px;
  height: 24px;
}/*# sourceMappingURL=style.css.map */