@mixin Display() {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @mixin Btn() {
    /* Group 3 */
  
    width: 217px;
    height: 56px;
  
    background: #0e8784;
    border-radius: 6px;
  
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  
    color: #fefcf7;
  
    &:hover {
      background: #1ab8b6;
      transition: all 0.3s linear;
    }
  }
  